name: Generate terraform docs

on:
  workflow_dispatch:
  push:


concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  Generating:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Render terraform docs inside the README.md
      uses: terraform-docs/gh-actions@v1.0.0
      with:
        working-dir: .
        git-push: "true"
        output-file: README.md
        output-method: inject
        config-file: ".terraform-docs.yml"